# ignore raw data as over 100MB
SWaT Data/SWaT.A1 _ A2_Dec 2015/Physical/SWaT_Dataset_Attack_v0.xlsx
SWaT Data/SWaT.A1 _ A2_Dec 2015/Physical/SWaT_Dataset_Normal_v1.xlsx
SWaT Data/SWaT Network Data/2015-12-22_034215_69.log.part01_sorted.csv
SWaT Data/SWaT Network Data/2015-12-22_034215_69.log.part02_sorted.csv
SWaT Data/SWaT Network Data/2015-12-23_003316_73.log.part01_sorted.csv
SWaT Data/SWaT.A1 _ A2_Dec 2015/Physical/F36AE400
SWaT Data/SWaT.A1 _ A2_Dec 2015/Physical/SWaT_Dataset_Normal_v1_formatted.xlsx
SWaT DataSWaT Scaled.csv
SWaT Sim