# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
_Dec 2015/Physical/SWaT_Dataset_Normal_v1.xlsx